<div class="blank-layout-container justify-content-center align-items-center">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">

          <div class="text-center">
            <h4 class="f-w-700 f-s-24 m-0">Totolocator</h4>
          </div>

          @if (keyMissing) {
            <div class="text-center m-t-30">
              <i-tabler name="link-off" class="icon-48 text-error d-block m-auto m-b-16"></i-tabler>
              <h5 class="f-s-20 f-w-600 m-b-8">Invalid Reset Link</h5>
              <p class="f-s-14 mat-body-1 m-b-24">
                This reset link is missing required information. Please request a new password reset.
              </p>
              <a [routerLink]="['/authentication/reset-password/init']" mat-flat-button color="primary" class="w-100 m-b-8">
                Request New Reset Link
              </a>
              <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100">
                Back to Login
              </a>
            </div>
          } @else if (!submitted) {
            <span class="f-s-14 d-block mat-body-1 m-t-8 text-center m-t-30">
              Enter your new password below.
            </span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">New Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="newPassword" />
                @if (form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched) {
                  <mat-error>New password is required</mat-error>
                }
                @if (form.get('newPassword')?.hasError('minlength')) {
                  <mat-error>Password must be at least 4 characters</mat-error>
                }
              </mat-form-field>

              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
              <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                <input matInput type="password" formControlName="confirmPassword" />
                @if (form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
                  <mat-error>Passwords do not match</mat-error>
                }
              </mat-form-field>

              @if (errorMessage) {
                <p class="text-error f-s-14 m-b-12">{{ errorMessage }}</p>
              }

              <button mat-flat-button color="primary" class="w-100 m-t-8" type="submit"
                [disabled]="form.invalid || submitting">
                {{ submitting ? 'Saving...' : 'Set New Password' }}
              </button>
            </form>
          } @else {
            <div class="text-center m-t-30">
              <i-tabler name="circle-check" class="icon-48 text-success d-block m-auto m-b-16"></i-tabler>
              <h5 class="f-s-20 f-w-600 m-b-8">Password Updated!</h5>
              <p class="f-s-14 mat-body-1 m-b-24">
                Your password has been changed successfully. You can now log in with your new password.
              </p>
              <a [routerLink]="['/authentication/login']" mat-flat-button color="primary" class="w-100">
                Go to Login
              </a>
            </div>
          }

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
