<div class="flex">
  <div class="sidebar-footer b-t-1 p-16 d-flex align-items-center gap-8">
    <img
      [src]="profileImageUrl"
      (error)="profileImageUrl = 'assets/images/profile/user-avatar.png'"
      class="rounded-circle object-cover"
      width="36"
      height="36"
      alt="profile"
    />
    <span class="f-s-14 f-w-600 flex-grow-1 text-truncate">{{ displayUsername }}</span>
    <button mat-icon-button (click)="confirmLogout()" matTooltip="Logout">
      <i-tabler name="logout" class="icon-20 d-flex"></i-tabler>
    </button>
  </div>
</div>
