<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk78IBulZVCNl2SGPDSExuDX2poBlrZIA&libraries=places"></script>

<div class="row">

  <div class="col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <google-map
            [center]="center"
            [zoom]="zoom"
            [options]="options"
            (mapInitialized)="onMapReady($event)"
            height="450px"
            width="100%">
          <map-marker [position]="schoolLocation" [options]="schoolMarkerOptions"></map-marker>
          <map-marker [position]="busLocation"    [options]="busMarkerOptions"></map-marker>
          <map-marker [position]="homeLocation"   [options]="homeMarkerOptions"></map-marker>
        </google-map>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6">

    <mat-card class="cardWithShadow m-b-16">
      <mat-card-content class="p-b-16">
        <mat-card-title>Student</mat-card-title>
        <p class="detail-item"><span class="label">Name: </span><span class="value">{{ studentName }}</span></p>
        <p class="detail-item"><span class="label">School: </span><span class="value">{{ schoolName }}</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="cardWithShadow m-b-16">
      <mat-card-content class="p-b-16">
        <mat-card-title>Trip</mat-card-title>
        <p class="detail-item"><span class="eta-label">ETA: </span><span class="eta-value">{{ eta }}</span></p>
        <p class="detail-item"><span class="label">Distance: </span><span class="value">{{ distance }}</span></p>
        <p class="detail-item"><span class="label">Destination: </span><span class="value">{{ destination }}</span></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="cardWithShadow">
      <mat-card-content class="p-b-16">
        <mat-card-title>Bus</mat-card-title>
        <p class="detail-item"><span class="label">Plate No: </span><span class="value">{{ busPlateNo }}</span></p>
        <p class="detail-item"><span class="label">Driver: </span><span class="value">{{ driverName }}</span></p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
